# Database Configuration
DATABASE_URL=your-database-ip
DATABASE_PORT=your-database-port
DATABASE_USER=your-database-user
DATABASE_PASSWORD=your-database-password

# Server Configuration
SERVER_IP=your-server-ip:port
